
ul li{
    text-align: center;
    display: block;
    float:left;
    width:12%;
    list-sytle-type:none;
    height: 38px;
    line-height: 38px;
}
ul li:nth-child(1){
    width: 5%
}
ul li:nth-child(3){
    width: 35%
}
.bottom-btn{
    text-align: center;
}
.bottom-btn button{
    margin:30px 10px;
}